<ul>
<% @subsidiary.errors.full_messages.each do |message|%>
    <li><%= message %></li>
<% end %>
</ul>

<%= form_with model: @subsidiary, local: true do |form|%>

<div>
<%= form.label :name, 'Nome'%>
<%= form.text_field :name%>
</div>

<div>
<%= form.label :cnpj, 'CNPJ'%>
<%= form.text_field :cnpj%>
</div>

<div>
<%= form.label :address, 'Endereço'%>
<%= form.text_field :address %>
</div>

<%= form.submit 'Enviar'%>
<% end %>