<%= link_to 'Voltar', car_categories_path %>

<h1><%= @car_category.name %></h1>
<dl> 
  <dt>Diária</dt> 
  <dd><%= number_to_currency @car_category.daily_rate %></dd> 
  <dt>Seguro do Carro</dt> 
  <dd><%= number_to_currency @car_category.car_insurance %></dd> 
  <dt>Seguro de Terceiros</dt> 
  <dd><%= number_to_currency @car_category.third_party_insurance %></dd> 
  <dt>Modelos da categoria</dt> 
  <ul>
  <% if @car_category.car_models.each do |car_model|%>
    <li><%= link_to car_model.name, car_model_path(car_model)%></li>
  <% end.empty? %>
    <p> Nenhuma modelo cadastrado na categoria </p>
  <%end%>
  </ul>  
</dl>


  <%= link_to 'Editar', edit_car_category_path(@car_category) %> |
  <%= link_to 'Apagar', car_category_path(@car_category), method: :delete,
                         data: { confirm: 'Tem certeza que deseja apagar?' } %> 