<ul>
  <% @car.errors.full_messages.each do |message| %>
     <li><%= message %></li>
  <% end %>
</ul>

<%= form_with model: @car, local: true do |form|%>
  <div>
    <%= form.label :license_plate%>
    <%= form.text_field :license_plate%>
  </div>

  <div>
    <%= form.label :color%>
    <%= form.text_field :color%>
  </div>

  <div>
    <%= form.label :car_model_id%>
    <%= form.collection_select(:car_model_id, @car_models, :id, :name, prompt: 'Escolha um modelo')%>
  </div>

   <div>
    <%= form.label :mileage%>
    <%= form.text_field :mileage%>
  </div>
  
  <div>
    <%= form.label :subsidiary_id %>
    <%= form.collection_select(:subsidiary_id, @subsidiaries, :id, :name, prompt: 'Escolha uma filial')%>
  </div>

  <%= form.submit 'Enviar'%>


<% end %>  

